.app{
  margin-top: 30px;
  font-size: 18px;
  font-weight: 500;
}

.app form{
  text-align: center;
}

.row{
  margin-top: 30px;
}

.horiz-bar {
  display: inline-block;
  background-color: blue;
  border-style: solid;
  border-color: black;
}

.country-input{
  outline: none;
}

.country-input:focus{
  outline: #5959f8;
  border: 2px solid #5959f8;
}


@media only screen and (min-width: 900px) {
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .country { 
    width: 250px;
  }

  .country-input{
    width: 80px;
  }

  .average {    
    width: 250px;
  }

}

@media only screen and (max-width: 900px) {
  .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .country {
    width: 200px;
  }

  .country-input{
    width: 80px;
  }

  .average {
    width: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .row{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .country {
    width: 300px;
  }

  .country form {
    float: left;
  }

  .average {
    width: 300px;
  }
}